@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/**{
  border: 1px solid;
}*/

body, html {
  margin: 0 0 0 0;
  padding: 0;
  background-color: #fafafa;
  background-image: url(http://i.istockimg.com/file_thumbview_approve/37367076/2/stock-photo-37367076-wild-flowers-drawing-seamless-pattern.jpg);
  width: 100%;
  position: relative;
}

.paper h1, h2, h3, h4, h5, p, li, ul {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  font-family: 'Merriweather', Times;
}


/*
  Paper-looking border
*/

.paper {
  margin: 0 auto;
  margin-bottom: 2em;
  min-width: 800px;
  
  background-color: white;
  width: 75%;
  height: 80%;
  
  margin-top: 2.5em;
  padding: 0.5em 0.2em 0.5em 0.2em;
  
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  border-bottom: 3px solid #e0e0e0;
  border-radius: 3px;
}

/*
  Header styling
*/

.sam-pic {
  margin: 0 auto;
  margin-top: .4em;
  margin-bottom: 1.2em;
  border-radius: 10em;
  height: 4.8em;
  width: 4.8em;
  background-image: url(https://scontent-a-lga.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/q88/p720x720/1911769_10202651170456295_1124641553_n.jpg?oh=faf7b4a9397372e99d94666f461574af&oe=558D75E8);
  background-size: 100% auto;
  border: 2px solid #e0e0e0;
  transition: all 0.5s linear;
}

.sam-pic:hover {
  -webkit-transform: rotate(360deg);
}

.header-container {
  padding: .5em .5em .5em .5em;
}

h1 {
  font-family: "Merriweather";
  font-variant: small-caps;
  font-weight: 500;
  letter-spacing: 2px;
  color: #212121;
  font-size: 2.1em;
  text-align: center;
  margin-bottom:0.5em;
}

.small-border {
  width: 20%;
  border-bottom: solid 1px;
  margin-left: auto;
  margin-right: auto;
  padding: .4em;
}

h2:first-of-type {
  margin-top:1em;
}

h2 {
  font-family: "Merriweather";
  font-weight: 100;
  letter-spacing: .6px;
  color: #212121;
  font-size: .9em;
  text-align: center;
  padding-bottom: .2em;
}

/*
  Logos styling
*/

.contact-logos-container {
  display: block;
  height: 3.3em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  display: inline-block;
  
  border: 2px solid #e0e0e0;
  border-radius: 10em;
  height: 1.5em;
  width: 1.5em; 
  margin: 0 auto;
}

/*
  Link to my resume but display for mobile/tablet device only
*/

.resume-link-container {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: .8em;
    
}
.resume-link {
  color: #212121;
  font-family: "Merriweather";
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 1px;
  color: #212121;
  font-size: .7em;
  
}

/*
  Skills block styling
*/

.skills-block-container {
  overflow: hidden;
  width: 65%;
  height: 100%;
}

.skill-block {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  
}
.skill-heading {
  width: 79%;
  
  font-size: .85em;
  font-weight: 100;
  line-height: 1.2em;
  font-family: 'Sans Open Source', Times;
  font-weight: 300;
  
  margin-left: 3.1em;
  padding-left: 0.5em;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  
}

.skill {
  width: 63%;
  
  font-size: .8em;
  border-left: 1px solid #e0e0e0;
  font-family: 'Sans Open Source', Times;
  font-weight: 300;

  margin-left: 6.25em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}


/*
  Content blocks styling
*/
.content-block {
  overflow: hidden;
}
.content-block-container {
  overflow: auto;
  margin-bottom: 1.5em;
  width:95%;
}

.content-block-heading-container {
  float: left;
  width: 25%;
  padding-left: 2em;
  padding-right: 0.1em;
  border-right: 1px solid ##e0e0e0;
}

.heading {
  font-family: "Merriweather";
  font-variant: small-caps;
  font-weight: 300;
  letter-spacing: 1.4px;
  color: #212121;
  font-size: 1.2em;
}

.dates {
  margin-top: 0.3em;
  
  font-family: "Merriweather";
  font-variant: small-caps;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #444444;
  font-size: 0.8em;
}

.education {
  font-weight: bold;
  
}
.content-block-description-container {
  overflow: hidden;
  float: left;
  width: 70%;
  height: 100%;
}

.description {
  width: 91%;
  
  font-size: .85em;
  font-weight: 100;
  line-height: 1.2em;
  font-family: 'Sans Open Source', Times;
  font-weight: 300;
  
  margin-left: 3.1em;
  padding-left: 0.5em;
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  
}

.highlight {
  width: 83%;
  
  font-size: .8em;
  border-left: 1px solid #e0e0e0;
  font-family: 'Sans Open Source', Times;
  font-weight: 300;

  margin-left: 6.25em;
  padding-left: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.job-title-smaller {
  font-size:0.9em;
}

/* OPTIMIZATION FOR MOBILE AND TABLETS */

/* Smartphones (portrait) ----------- */
@media screen and (max-width: 600px) {
 .heading, .description, .highlight, .dates {
    display: none;
  }
  .resume-link-container {
  display: block;
  width: 100%;
  text-align: center;
  }
  .paper {
    min-width: 350px;
  }
  h1 {
    font-size: .9em;
  }
  h2, h3, h4, h5, p, a, li, ul {
    font-size: .6em;
  }
  .resume-link {
    font-size: .3em;

  }
  .content-block {
    display: none;
  }
    
}




/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 400px) and (orientation: landscape) {
  .heading, .description, .highlight, .dates {
    display: none;
  }
  .resume-link-container {
  display: block;
  width: 100%;
  text-align: center;
  }
  .paper {
    min-width: 350px;
  }
  h1 {
    font-size: .9em;
  }
  h2, h3, h4, h5, p, a, li, ul {
    font-size: .6em;
  }
  .resume-link {
    font-size: .3em;

  }
  .content-block {
    display: none;
  }
  
}
